*{
    margin: 10px;
    padding: 10px;
}

h1{
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    border: 4px solid brown;
}

a{
    background-color: darkcyan;
    color: white;
    font-size: 70px;
}

.rpic{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border: 4px solid brown;
}

h2{
    text-align: center;
}
body {
    background-color: lightskyblue;
}
div{
    display:flex;
}

.container{
    display: flex;
    flex: auto;
    justify-content: space-around;
    border: 4px solid brown;
}